__pycache__/
ansible_collections/
secrets/identities/*
!secrets/identities/.gitkeep
secrets/ssh/*
!secrets/ssh/.gitkeep
secrets/sshd/*
!secrets/sshd/.gitkeep
secrets/tokens/*
!secrets/tokens/.gitkeep
